name: Update readme

on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:

jobs:
  readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Generate chat.svg
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          CHAT_SVG_PATH: dist/chat.svg
        run: node build-svg.js

      - name: Publish chat.svg to assets branch
        uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: assets
          build_dir: dist
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
